@import "./../variables.css";

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 30px;
  font-size: var(--font-size-sm);
  font-family: var(--base-font-family);
  color: #000000;
  border: 1px solid #d5cec2;
  border-radius: 3px;
  box-shadow: none;
  -webkit-tap-highlight-color: rgba(200, 0, 0, 0);
  -webkit-appearance: none;

  &:hover {
    @media (--tablet) {
      border-color: var(--brand-color-orange);
    }
  }

  &:focus {
    color: #000000;
    border-color: var(--brand-color-orange);
    outline: none;
    opacity: 1;
  }

  &:focus::-webkit-input-placeholder {
    color: transparent !important;
  }

  &:focus:-moz-placeholder {
    color: transparent !important;
  }

  &:focus::-moz-placeholder {
    color: transparent !important;
  }

  &:focus:-ms-input-placeholder {
    color: transparent !important;
  }

  &::placeholder {
    font-size: var(--font-size-sm);
    font-family: var(--base-font-family);
    color: #8e8d8d;
    opacity: 1;
  }

  ::-ms-clear {
    display: none;
  }
}
