@import "./../variables.css";

.button {
  display: block;
  padding: 10px 38px;
  font-size: 14px;
  color: #fff;
  border: none;
  background-color: var(--brand-color-orange);
  border-radius: 3px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(200, 0, 0, 0);

  &:focus {
    background-color: var(--button-hover);
    outline: none;
  }

  &:hover {
    @media (--tablet) {
      background-color: var(--button-hover);
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}
